* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: hsl(192, 100%, 9%);
  font-size: 18px;
  background-color: #fff;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.btn--main {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
}
.btn--main:hover {
  opacity: 0.8;
}

.btn--ghost {
  background-color: transparent;
  color: hsl(192, 100%, 9%);
  border: 2px solid hsl(192, 100%, 9%);
}
.btn--ghost:hover {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
}

.header {
  padding: 1rem 0;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 40px;
  width: auto;
}

.uvodni {
  background: url("./images/bg-uvodni-desktop.svg") no-repeat center/cover;
  padding: 0 0 5rem;
  text-align: left;
  position: relative;
  background-color: hsl(193, 100%, 96%)
}
.uvodni__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.uvodni__text {
  max-width: 600px;
}
.uvodni__text h1 {
  margin-top: 10%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.uvodni__text p {
  margin-bottom: 2rem;
  color: hsl(208, 11%, 55%);
}
.uvodni__image img {
  margin-top: 10%;
  max-width: 100%;
  height: auto;
}

.karty {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.karta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  border: none; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.karta__img {
  width: 300px;
  max-width: 100%;
}
.karta__text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.karta__text p {
  color: hsl(208, 11%, 55%);
  line-height: 1.5;
}

.karta:nth-child(even) {
  flex-direction: row-reverse;
}

i {
  font-size: 24px; 
  margin: 10px;  
  color: white;    
  border: 2px solid white; 
  border-radius: 50%;      
  padding: 10px;           
  transition: all 0.3s ease; 
}

.posledni {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-bottom: -4rem;
  text-align: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  border: none; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.cta h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer {
  position: relative;
  padding-top: 5rem;
  z-index: 0;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 3rem 1rem;
}
.footer__content {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.footer__logo {
  height: 40px;
  margin-bottom: 1rem;
}

.footer__info p {
  color: #fff;
  margin-bottom: 1rem;
}
.footer__icon {
  width: 20px;
  margin-right: 0.5rem;
  transform: translateY(4px);
}
.footer__contacts p {
  display: flex;
  align-items: flex-start;
}
.footer__links {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.footer__links li a {
  color: #fff;
  text-decoration: none;
}
.footer__links li a:hover {
  opacity: 0.8;
}
.footer__social {
  display: flex;
  gap: 1rem;
}
.footer__social-icon img {
  width: 30px;
}
.footer__social-icon:hover {
  opacity: 0.8;
}
.footer__copyright {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .uvodni__inner {
    flex-direction: column;
    text-align: center;
  }
  .kartas {
    gap: 2rem;
  }
  .karta {
    flex-direction: column;
    text-align: center;
  }
  .karta:nth-child(even) {
    flex-direction: column;
  }
  .cta h2 {
    font-size: 1.6rem;
  }
  .footer__content {
    align-items: center;
    text-align: center;
  }
}